.ra-rich-text-input.ra-rich-text-input .ql-editor { font-size: 1.125rem; }

.ra-rich-text-input.ra-rich-text-input .ql-editor h1 { font-size: 70px; }

.ra-rich-text-input.ra-rich-text-input .ql-editor h2 { font-size: 55px; }

.ra-rich-text-input.ra-rich-text-input .ql-editor h3 { font-size: 30px; }

.ra-rich-text-input.ra-rich-text-input .ql-editor h4 { font-size: 25px; }

.ra-rich-text-input.ra-rich-text-input .ql-editor h5 { font-size: 20px; }