@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

$brownColor: #67350b;
$orangeColor: #ef7a01;

* {
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  background: $orangeColor;
  color: #fff;
  // color: $orangeColor;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;

  > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media screen and (min-width: 998px) {
    height: 100px;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    height: 80px;
    padding: 0 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    nav {
      display: flex;
      width: 70%;
      ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        list-style: none;
      }
      li {
        a {
          font-size: 18px;
        }
      }
    }
    > div {
      max-width: 1640px;
    }
  }

  @media screen and (max-width: 997px) {
    height: 80px;
    padding: 0 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}
.header-logo {
  display: flex;
  height: 40px;
  font-size: 14px;

  img {
    height: 100%;
    display: block;
  }
}

.menuOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrowUp {
  top: 60px;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #d3d3d362;
}

@media screen and (min-width: 998px) {
}

.header-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 10px;

  svg path {
    fill: $brownColor;
  }
}

/////////  RESPONSIVO
.header-nav {
  display: flex;
  height: 500px;
  position: absolute;
  top: 100%;
  right: 0;
  transition: transform 0.3s;
  border-left: 2px solid $brownColor;
  border-bottom: 2px solid $brownColor;
  background-color: $orangeColor;
  width: 200px;

  ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    div {
      p {
        padding: 10px;
      }
    }
  }

  &:not(.active) {
    transform: translateX(100%);
  }

  &.active {
    transform: translateX(0);
  }
}

.subOptionsActive {
  @media screen and (max-width: 997px) {
    li {
      padding: 0 10px;
      margin: 7px 0;
      :active {
        background: rgb(238, 238, 238);
        color: $orangeColor;
        transition: 0.2s;
      }
    }
    a {
      width: 100%;
      padding: 7px;
      &:not(:last-of-type) {
        border-bottom: 2px solid $brownColor;
      }
    }
  }

  @media screen and (min-width: 998px) {
    box-shadow: 0 0 20px #0000002c;
    display: flex;
    flex-direction: column;
    position: absolute;
    background: $orangeColor;
    color: #fff;

    top: 70px;
    width: 150px;

    > li {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 10px 0;
      cursor: pointer;
    }
    :hover {
      background: rgb(238, 238, 238);
      color: $orangeColor;
      transition: 0.2s;
    }
  }
}
.subOptionsInactive {
  display: none !important;
}