@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@import './quill.css';
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

$brownColor: #67350b;
$orangeColor: #ef7a01;
$gridWidth: 1720px;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
	background-color: #FFF;
	color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  font: inherit;
  outline: none;
}

ul {
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: inherit;
}

input {
	border: none;
	background-color: transparent;
	color: inherit;
	font: inherit;

	&::placeholder {
		color: inherit;
	}
}

main {
  padding-top: 80px;
  
  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 55px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 25px;
  }

  h5 {
    font-size: 20px;
  }
}


.menu {
  width: 100%;
  background: #FFF;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  @media screen and (min-width: 998px) {
    padding: 40px;
    height: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    nav {
      display: flex;
      width: 100%;
      max-width: 700px;
      > ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        list-style: none;
        font-size: 20px;
      }
    }
    > div {
      max-width: $gridWidth;
      padding: 0 40px;
    }
  }

  @media screen and (max-width: 997px) {
    height: 80px;
    padding: 0 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}

.header-logo {
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 14px;

  span {
    height: 40px;
    width: 40px;
    display: block;
    margin-right: 10px;
  }

  svg path {
    fill: #000;
  }
}

.header-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 10px;

  svg path {
    fill: $brownColor;
  }
}

.menuOptions {
  display: flex;
  align-items: center;
  position: relative;

  button {
    font-size: 18px;
    cursor: pointer;
  }
}

.subOptions {
  &:not(.active) {
    opacity: 0;
    pointer-events: none;
  }

  @media screen and (max-width: 997px) {
    li {
      padding: 0 10px;
      margin: 7px 0;
      &:active {
        background: $orangeColor;
        color: #FFF;
        transition: 0.2s;
      }
    }
    button {
      width: 100%;
      padding: 7px;
      &:not(:last-of-type) {
        border-bottom: 2px solid $brownColor;
      }
    }
  }

  @media screen and (min-width: 998px) {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #FFF;
    color: $orangeColor;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    opacity: 1;
    transition: opacity 0.3s;

    &::before {
      content: '';
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      width: 0;
      height: 0;
      border-bottom: 10px solid #FFF;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      z-index: 1;
    }

    > li {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 10px 0;
      cursor: pointer;
    }
  }
}


.header-search {
	form {
		height: 100%;
	}

	input {
		height: 100%;
		width: 100%;
		background: url('../img/icon-search.svg') no-repeat center right 20px;
	}

	@media screen and (min-width: 998px) {
		order: 1;
		input {
			border: 2px solid $brownColor;
			border-radius: 20px;
			padding: 0 20px;
		}
	}
	@media screen and (max-width: 997px) {
		input {
			padding: 0 10px;
		}
	}
}

.home-content {
	@media screen and (min-width: 998px) {
		padding-top: 100px;
	}

	@media screen and (max-width: 997px) {
		padding-top: 80px;
	}
}

.home-banner {
	margin-bottom: 20px;
	width: 100%;

	img {
		width: 100%;
	}
}

.bloco-texto {
  h1,h2,h3,h4,h5,h6{
    text-align: center;
    margin-bottom: 15px;
  }
  p{
    line-height: 1.5em;
    text-indent: 3em;
    text-align: justify;
    font-size: 22px;
  }

	@media screen and (min-width: 998px) {
		padding: 10px 80px;
	}

	@media screen and (max-width: 997px) {
		padding: 10px 10px;
	}
}

.page-content {
  max-width: $gridWidth;
  padding: 120px 40px;
  margin: 0 auto;
}

.custom-page-content {
  p {
    img {
      max-width: 100%;
      display: block;
    }
  }
}

//HOVERS

.subOptionsActive:hover {
  background: $orangeColor;
  color: #FFF;
  transition: 0.2s;
}

.slider{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  >div{
    width: 100%;
    margin-bottom: 30px;
    img{
      padding: 0 10%;
          @media screen and (max-width: 997px) {
            padding: 0 5px;
          }
    }
  }
}

.footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background:#999;
}

.mapa{
  >div{
    >div{
      display: flex;
      justify-content: center;
    }
  }
}