@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");
@import "./quill.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

$brownColor: #562E0E;
$orangeColor: #e7ab2f;
$gridWidth: 1720px;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  color: #000;
  font-size: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  color: inherit;
  font: inherit;
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

input, textarea {
  border: none;
  background-color: transparent;
  color: inherit;
  font: inherit;

  &::placeholder {
    color: inherit;
  }
}

.inline-svg svg {
  display: block;
  height: 100%;
}

.brown-font {
  color: $brownColor;
}

.orange-font {
  color: $orangeColor;
}

main {
  padding-top: 80px;
  min-height: 100vh;

  h1,
  h2,
  h3,
  h4,
  h5 {
    line-height: 1.1;
  }

  h1 {

  }

  h2 {
    text-transform: uppercase;
    font-weight: 400;
  }
}

.menu {
  width: 100%;
  background: #fff;
  color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  .gradient-line {
    width: 100%;
    height: 15px;
    background-image: linear-gradient(to right, #feb52f, #f69028);
  }

  @media screen and (min-width: 998px) {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    .navbar {
      height: 65px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-transform: uppercase;
      .desktop-nav {
        display: flex;
        width: 100%;
        max-width: 630px;
        > ul {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 16px;
          > li {
            border-radius: 16px;
            height: 32px;
            overflow: hidden;

            > a {
              height: 100%;
              width: 100%;
              padding: 0 16px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
        .currentOption, > ul > li:hover {
          color: #fff;
          background: linear-gradient(to right, #feb52f, #f69028);
        }
      }
    }
    > div {
      padding: 0 20px;
    }
  }

  @media screen and (max-width: 997px) {
    height: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    .navbar {
      height: 65px;
      margin: 0 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-transform: uppercase;
      .header-nav {
        display: flex;
        position: absolute;
        top: 100%;
        right: 0;
        transition: transform 0.3s;
        background-color: #feb52f;
        color: $brownColor;
        width: 200px;
        ul {
          width: 100%;
          display: flex;
          flex-direction: column;
          margin-top: 30px;
          margin-left: 20px;
          li {
            margin-bottom: 30px;
          }
        }
        &:not(.active) {
          transform: translateX(100%);
        }

        &.active {
          transform: translateX(0);
        }
      }
    }
  }
}

.header-logo {
  height: 100%;
  font-size: 14px;

  h1 {
    padding: 5px 0;
    height: 100%;
  }

  .inline-svg {
    display: block;
    height: 100%;
    width: 185px;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.header-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 10px;

  svg path {
    fill: $brownColor;
  }
}

.header-search {
  display: flex;
  align-items: center;
  font-size: 16px;

  > div {
    padding: 0 5px;
    margin-right: 5px;
    background-color: rgb(225, 225, 225);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
  svg path {
    fill: #feb52f;
  }

  input {
    color: rgb(141, 141, 141);
    border: 0px solid;
    background-color: rgb(225, 225, 225);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    outline: none;
  }
  @media screen and (min-width: 998px) {
    display: flex;

    .inline-svg {
      width: 30px;
      display: block;
    }
    input {
      height: 30px;
      padding: 0 20px;
    }
  }
  @media screen and (max-width: 997px) {
    .inline-svg {
      width: 25px;
      display: block;
    }
    input {
      padding: 0 10px;
    }
  }
}

.header-social-networks {
  display: flex;
  flex-shrink: 0;
  height: 24px;
  
  a {
    height: 100%;

    &:not(:last-of-type) {
      margin-right: 16px;
    }

    .inline-svg {
        height: 100%;
    }
  }
}

.bandeira-minas {
  align-self: flex-start;
  margin-top: 8px;
}

.footer {
  width: 100%;
  background-color: #2b0b05;

  .content {
    display: flex;
    justify-content: space-around;
    align-items: center;

    p {
      font-size: 16px;
      color: #fff;
      text-align: center;
    }
    ul {
      text-align: center;
      color: #fff;
      li {
        padding: 8px 0;
      }
    }

    .footer-logo {
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        font-size: 45px;
      }
      
      .inline-svg {
        width: 130px;
        display: block;
        margin-right: 20px;
      }
    }
  }
  .credit {
    height: 25px;
    width: 100%;
    background-color: #f4cb00;
    display: flex;
    align-items: center;
    justify-content: center;
    > p {
      color: #2b0b05;
      text-align: center;
      font-size: 14px;
    }
  }

  @media screen and (max-width: 997px) {
    height: 600px;

    .content {
      height: 570px;
      flex-direction: column;
      p {
        max-width: 500px;
        line-height: 1.5;
        padding: 0 10px;
      }
    }
    .credit {
      height: 50px;
      > p{
        margin: 0 8px;
      }
    }
  }

  @media screen and (min-width: 998px) {
    height: 300px;
    .content {
      height: 275px;
      p {
        width: 400px;
        line-height: 2.2;
      }
    }
    .credit {
      height: 25px;
    }
  }
}

.home-content {
  padding: 0;
}

.home-banner {
  margin-bottom: 20px;
  width: 100%;
  display: block;
}

.banner-text {
  
}

.bloco-texto {
  margin: 0 auto 80px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
    margin-bottom: 15px;
  }

  p {
    line-height: 1.5;
    text-indent: 3em;
    font-size: 22px;
  }

  @media screen and (min-width: 998px) {
    max-width: $gridWidth;
    padding: 0 40px;
  }

  @media screen and (max-width: 997px) {
    padding: 0 20px;
  }
}

.map-wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  position: relative;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.articles-content {
  padding-top: 120px;
  max-width: $gridWidth;
  padding: 120px 40px 40px;
  margin: 0 auto;

  h1 {
    margin-bottom: 40px;
  }
}

.articles-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 40px;
}

.article-list-item {
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  overflow: hidden;
}

.article-list-item-image {
  img {
    display: block;
    width: 100%;
  }
}

.article-description {
  padding: 20px;

  strong {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.contato-content,
.economia-crescente {
  max-width: $gridWidth;
  padding: 120px 40px;
  margin: 0 auto;
}

.custom-content {
  p {
    img {
      max-width: 100%;
      display: block;
    }
  }
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  > div {
    width: 100%;
    margin-bottom: 30px;
    img {
      @media screen and (max-width: 997px) {
        padding: 0 5px;
      }
    }
  }
}

.slider-aprocer {
  margin: 90px auto 200px;
}

.aprocer-page-top-image {
  display: block;
  margin: 0 auto 140px;
}

.aprocer-first-block {
  max-width: $gridWidth;
  padding: 60px 40px 0;
  margin: 0 auto;
}

.aprocer-yellow-block {
  background-color: #F4CB00;
  width: 100%;
  padding-bottom: 120px;

  > div {
    display: flex;
    max-width: $gridWidth;
    padding: 0 40px;
    margin: 0 auto;

    > div {
      margin-top: -70px;
      text-align: center;
      border-radius: 25px;
      border: 3px solid #FBCC5A;
      background-color: #fff;
      padding: 20px 20px 80px;

      h2 {
        font-size: 32px;
        margin-bottom: 55px;
      }

      &:not(:last-of-type) {
        margin-right: 25px;
      }
    }
  }
}

.mapa-aprocer {
  background-color: #2B0B05;

  > div {
    display: flex;
    flex-direction: column;
    max-width: $gridWidth;
    padding: 70px 40px 110px;
    margin: 0 auto;
  }

  h2 {
    color: #F4CB00;
    font-size: 33px;
    margin-bottom: -36px;
    align-self: flex-end;
  }

  ul {
    margin-top: -260px;
    color: #FFF;
    font-size: 17px;
    font-weight: 700;
    align-self: flex-start;
    text-transform: uppercase;
  }
}

.economia-crescente {
  h2 {
    font-size: 38px;
  }

  > p {
    margin: 40px 0;
  }

  > div {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 60px 10%;

    > div {
      display: flex;
      align-items: center;

      p {
        margin-left: 35px;
      }
    }
  }
}

.economia-crescente,
.associacao-propositos-content {
  strong {
    font-size: 65px;
    color: #FAAC18;
    font-weight: 400;
    line-height: 1;
  }
}

.associacao-propositos {
  display: flex;
  flex-direction: column;
}

.associacao-propositos-header {
  background-image: linear-gradient(to right, #feb52f, #f69028);

  > div {
    position: relative;
    max-width: $gridWidth;
    padding: 60px 40px;
    margin: 0 auto;
    color: #fff;
  }

  h2 { font-size: 45px; }
}

.plano-desenvolvimento {
  position: absolute;
  top: calc(100% - 70px);
  right: 0;
  width: 500px;
  padding: 70px;
  border: 14px solid #fff;
  border-radius: 30px;
  background-image: linear-gradient(to right, #feb52f, #f69028);
  display: inline-block;
  color: #fff;
  text-align: center;

  h2 { font-size: 33px; }

  p { margin-top: 30px; }
}

.associacao-propositos-content {
  padding: 100px 40px 120px;
  margin: 0 auto;
  max-width: $gridWidth;

  > div {
    width: calc(100% - 560px);
    

    p { margin-bottom: 60px; }
  }

  img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }
}

.contato-content {
  h1 {
    font-size: 65px;
    color: #FAAC18;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 40px;
  }
}

.slick-slider.slick-slider {
  .slick-arrow {
    width: 94px;
    height: 94px;
    &::before {
      content: none;
    }
  }
  .slick-prev {
    background: url('../img/prev-arrow.svg') no-repeat;
    left: 0;
  }
  .slick-next {
    background: url('../img/next-arrow.svg') no-repeat;
    right: 0;
  }

  .slick-list {
    max-width: 700px;
    margin: 0 auto;
  }
}

.form-contato {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .input {
    margin-bottom: 30px;

    &.name {
      width: 78%;
    }

    &.phone {
      width: 20%;
    }

    &.email {
      width: 100%;
    }

    input {
      width: 100%;
      border: 2px solid $brownColor;
      border-radius: 20px;
      height: 40px;
      padding: 0 20px;
    }
  }

  .textarea {
    width: 100%;

    textarea {
      width: 100%;
      border: 2px solid $brownColor;
      border-radius: 20px;
      padding: 0 20px;
    }
  }
}

//HOVERS
