$brownColor: #67350b;
$orangeColor: #ef7a01;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	// background-color: $orangeColor;
	background-color: #fff;
	color: $brownColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

button {
	background-color: transparent;
	border: 2px solid $brownColor;
}

ul {
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: inherit;
}

input {
	border: none;
	background-color: transparent;
	color: inherit;
	font: inherit;

	&::placeholder {
		color: inherit;
	}
}

