@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");
@import "./quill.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

$defaultFontSize: 16px;
$brownColor: #562E0E;
$orangeColor: #FAAC18;
$gridWidth: 1720px;

@function px2rem($fontsize) {
  @return $fontsize / $defaultFontSize * 1rem;
}

* { box-sizing: border-box; }

html {
  font-size: $defaultFontSize;
  @media screen and (max-width: 1440px) and (min-width: 1281px) { font-size: 14px; }
  @media screen and (max-width: 1280px) and (min-width: 998px) { font-size: 13px; }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  color: inherit;
  font: inherit;
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

input, textarea {
  border: none;
  background-color: transparent;
  color: inherit;
  font: inherit;

  &::placeholder {
    color: inherit;
  }
}

textarea { resize: none; }

.inline-svg svg {
  display: block;
  height: 100%;
}

.brown-font {
  color: $brownColor;
}

.orange-font {
  color: $orangeColor;
}

main {
  min-height: 100vh;

  h1,
  h2,
  h3,
  h4,
  h5 {
    line-height: 1.1;
  }

  h1 {
    color: $orangeColor;
    font-weight: 400;
    line-height: 1;
  }

  h2 {
    text-transform: uppercase;
    font-weight: 400;
  }

  p { font-size: px2rem(20px); }

  @media screen and (min-width: 998px) {
    padding: px2rem(140px) px2rem(40px) px2rem(80px);

    h1 { font-size: px2rem(65px); }
  }

  @media screen and (max-width: 997px) {
    padding: 120px 20px 40px;
    
    h1 { font-size: 40px; }
  }
}

.menu {
  width: 100%;
  background: #fff;
  color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  .gradient-line {
    width: 100%;
    background-image: linear-gradient(to right, #feb52f, #f69028);
  }

  @media screen and (min-width: 998px) {
    .gradient-line { height: px2rem(15px); }

    > div { padding: 0 px2rem(20px); }
  }

  @media screen and (max-width: 997px) {
    .gradient-line { height: 10px; }
  }
}

.navbar {
  @media screen and (min-width: 998px) {
    height: px2rem(85px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
  }

  @media screen and (max-width: 997px) {
    height: 70px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
  }
}

.header-nav {
  display: flex;
  width: 100%;

  @media screen and (min-width: 1281px) {
    margin: 0 px2rem(100px);
  }

  @media screen and (min-width: 998px) and (max-width: 1280px) {
    margin: 0 px2rem(40px);
  }

  @media screen and (min-width: 998px) {
    max-width: px2rem(1000px);
    
    > ul {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: px2rem(18px);

      > li {
        border-radius: 20px;
        height: px2rem(40px);
        overflow: hidden;

        > a {
          height: 100%;
          width: 100%;
          padding: 0 px2rem(20px);
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover { color: $orangeColor; }
          
          &.active {
            color: #fff;
            background: linear-gradient(to right, #feb52f, #f69028);
          }
        }
      }
    }
  }

  @media screen and (max-width: 997px) {
    padding-top: 60px;
    position: absolute;
    top: 10px;
    right: 0;
    min-height: 120vh;
    transition: transform 0.3s;
    background-color: #FFF;
    color: $brownColor;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      
      li a {
        display: block;
        padding: 15px 20px;
        width: 100%;
        height: 100%;

        &.active { color: $orangeColor; }
      }
    }
    &:not(.active) {
      transform: translateX(100%);
    }

    &.active {
      transform: translateX(0);
    }
  }
}

.header-logo {
  height: 100%;

  h1 {
    padding: 5px 0;
    height: 100%;
  }

  .inline-svg {
    display: block;
    height: 100%;
  }

  svg {
    display: block;
    height: 100%;
  }
}

.header-menu-button,
.header-menu-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;

  svg { width: 100%;
    path { fill: $brownColor; }
  }
}

.header-menu-button {
  margin-right: -8px;

  .inline-svg { width: 60% }
}

.header-menu-close-button {
  position: absolute;
  top: 15px;
  right: 12px;

  .inline-svg { width: 60%; }
}

.header-social-networks {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 100%;
  
  a {
    height: 24px;

    &:not(:last-of-type) {
      margin-right: 16px;
    }

    .inline-svg {
        height: 100%;
    }
  }
}

.bandeira-minas {
  align-self: flex-start;
  margin-top: 8px;
  margin-left: 20px;
}

.footer {
  width: 100%;
  background-color: #2b0b05;

  .content {
    max-width: px2rem($gridWidth);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: px2rem(20px);

    p {
      color: #fff;
      text-align: center;
    }

    ul {
      text-align: center;
      color: #fff;

      li a {
        padding: px2rem(8px) 0;
        display: block;
      }
    }

    .footer-logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      img { display: block; }
    }
  }

  .credit {
    width: 100%;
    background-color: $orangeColor;
    display: flex;
    align-items: center;
    justify-content: center;
    > p {
      color: #2b0b05;
      text-align: center;
      font-size: px2rem(14px);
    }
  }

  

  @media screen and (min-width: 998px) {
    .content {
      padding: px2rem(30px) px2rem(40px);

      p {
        width: px2rem(400px);
        line-height: 2.2;
      }
    }

    .credit { height: px2rem(25px); }
  }

  @media screen and (max-width: 997px) {
    .content {
      padding: 30px 20px;
      flex-direction: column;

      p {
        max-width: 400px;
        line-height: 1.5;
        margin: 30px 0;
      }
    }

    .credit {
      padding: 5px 10px;
    }
  }
}

.footer-nav a.active { color: $orangeColor; }

.home-content {

  > .text-block {
    &::after {
      content: '';
      height: 4px;
      width: 100%;
      display: block;
      background-color: $orangeColor;
    }
  }

  @media screen and (min-width: 998px) {
    padding: 0;
  
    > .text-block::after {
      margin-top: px2rem(60px);
    }
  }

  @media screen and (max-width: 997px) {
    padding: 80px 0 0;
    
    > .text-block::after {
      margin-top: 40px;
    }
  }
}

.home-banner {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;

  img {
    display: block;
    width: 100%;
  }

  div {
    width: 100%;
    margin: 0 auto;
    max-width: px2rem($gridWidth);
    position: relative;
  }

  p {
    color: #FFF;
    position: absolute;
    bottom: 0;
  }

  @media screen and (min-width: 998px) {
    p {
      left: px2rem(40px);
      padding-bottom: 6%;
    }
  }

  @media screen and (max-width: 997px) {
    
    p {
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      text-align: center;
      background-color: rgba(0,0,0,0.2);
    }
  }
}

.queijo-minas, .home-content > .text-block {
  max-width: px2rem($gridWidth);
  margin: 0 auto;

  @media screen and (min-width: 998px) {
    padding: px2rem(70px) px2rem(40px) 0;
  }

  @media screen and (max-width: 997px) {
    padding: 40px 20px 0;
  }
}

.queijo-minas {
  img {
    width: 100%;
    display: block;
  }

  @media screen and (min-width: 998px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: px2rem(50px);
    align-items: center;
    padding-bottom: px2rem(70px);

    .text-block { padding: 0; }
  }

  @media screen and (max-width: 997px) {
  }
}

.home-slider-container {
  max-width: px2rem(900px);
  margin: 0 auto;

  .home-slider .slick-list {
    max-width: px2rem(434px);
    margin: 0 auto;
  }

  @media screen and (min-width: 998px) { padding: px2rem(60px) px2rem(40px); }

  @media screen and (max-width: 997px) { padding-top: px2rem(60px); }
}

.articles-content {
  max-width: px2rem($gridWidth);
  
  margin: 0 auto;

  h1 { margin-bottom: px2rem(40px); }

  @media screen and (min-width: 998px) { padding: px2rem(140px) px2rem(40px) px2rem(40px); }

  @media screen and (max-width: 997px) { padding: 100px 20px 20px; }
}

.articles-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: px2rem(40px);
}

.article-list-item {
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  overflow: hidden;
}

.article-list-item-image img {
  display: block;
  width: 100%;
}

.article-description {
  padding: px2rem(20px);

  strong {
    display: block;
    font-size: px2rem(18px);
    margin-bottom: px2rem(10px);
  }
}

.custom-content p img {
  max-width: 100%;
  display: block;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;

  > div {
    width: 100%;
    margin-bottom: px2rem(30px);
  }

  @media screen and (max-width: 997px) {
    img { padding: 0 5px; }
  }
}

.slider-aprocer {
  margin: 0 auto;

  .slick-list {
    max-width: px2rem(700px);
    margin: 0 auto;
  }

  @media screen and (min-width: 998px) { margin-top: px2rem(90px); }

  @media screen and (max-width: 997px) { margin-top: 40px; }
}

.text-block {
  padding-top: px2rem(60px);

  h1, h2, p:not(:last-of-type) { margin-bottom: px2rem(30px); }

  h2 { color: $orangeColor; }

  @media screen and (min-width: 998px) {
    h2 {font-size: px2rem(40px);}
  }

  @media screen and (max-width: 997px) {
    h2 { font-size: 30px; }
  }
}

.voce-sabia {
  background-color: $orangeColor;
}

.voce-sabia-wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: px2rem($gridWidth);
  

  button {
    cursor: pointer;
    width: px2rem(94px);
    height: px2rem(94px);

    img {
      width: 100%;
      display: block;
    }
  }

  @media screen and (min-width: 998px) {
    padding: px2rem(80px) px2rem(40px);
  }

  @media screen and (max-width: 997px) {
    padding: px2rem(80px) px2rem(20px);
  }
}

.voce-sabia-list {
  background-color: #FFF;
  border-radius: px2rem(35px);
  position: relative;

  h2 { color: $orangeColor; }

  h3 {
    margin-bottom: px2rem(20px);
    font-weight: 600;
  }

  img { position: absolute; }

  @media screen and (min-width: 998px) {
    padding: px2rem(60px) px2rem(40px);
    margin: 0 px2rem(40px);
    width: calc(100% - 16.75rem);

    h2 {
      width: calc(100% - 11.875rem);
      font-size: px2rem(40px);
      margin-bottom: px2rem(45px);
      text-align: right;
    }

    h3 {
      width: calc(100% - 11.875rem);
      font-size: px2rem(32px);
    }

    img {
      width: px2rem(240px);
      top: px2rem(-50px);
      right: px2rem(-50px);
    }
  }

  @media screen and (max-width: 997px) {
    padding: 80px 20px 20px;
    width: 100%;

    h2 {
      font-size: 30px;
      margin-bottom: 20px;
    }

    h3 { font-size: px2rem(26px); }

    img {
      width: 120px;
      top: -60px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.aprocer-content {
  padding: {left: 0; right: 0;}
}

.aprocer-page-top-image {
  display: block;
  margin: 0 auto;
  max-width: px2rem(568px);
  
  > div {
    width: 100%;
    height: 0;
    padding-bottom: 91%;
    position: relative;
  }

  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }

  @media screen and (min-width: 998px) { margin-bottom: px2rem(140px) }

  @media screen and (max-width: 997px) {
    margin-bottom: 40px;
  }
}

.aprocer-first-block {
  max-width: px2rem($gridWidth);
  margin: 0 auto;

  p:not(:last-of-type) { margin-bottom: px2rem(30px); }

  @media screen and (min-width: 998px) { padding: 0 px2rem(40px) px2rem(80px); }

  @media screen and (max-width: 997px) { padding: 0 20px 40px; }
}

.parcerias {
  padding: px2rem(80px) px2rem(40px) px2rem(160px);
  max-width: px2rem($gridWidth);
  margin: 0 auto;

  @media screen and (min-width: 998px) { padding: px2rem(80px) px2rem(40px) px2rem(160px); }

  @media screen and (max-width: 997px) { padding: 40px 20px 100px; }
}

.aprocer-yellow-block {
  background-color: $orangeColor;
  width: 100%;

  > div {
    max-width: px2rem($gridWidth);
    margin: 0 auto;

    > div {
      text-align: center;
      border-radius: 25px;
      border: px2rem(3px) solid $orangeColor;
      background-color: #fff;
      padding: px2rem(20px) px2rem(20px) px2rem(80px);

      h2 {
        font-size: px2rem(32px);
        margin-bottom: px2rem(55px);
      }
    }
  }

  @media screen and (min-width: 998px) {
    padding-bottom: px2rem(120px);

    > div {
      padding: 0 px2rem(40px);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: px2rem(30px);

      > div {
        width: 100%;
        margin-top: px2rem(-70px);
      
        &:not(:last-of-type) { margin-right: px2rem(25px); }

        h2 {
          font-size: px2rem(32px);
          margin-bottom: px2rem(55px);
        }
      }
    }
  }

  @media screen and (max-width: 997px) {
    padding-bottom: px2rem(40px);

    > div {
      padding: 0 220px;
      display: flex;
      flex-direction: column;

      > div{
        &:first-of-type { margin-top: -50px; }

        &:not(:last-of-type) { margin-bottom: 40px; }

        h2 {
          font-size: 26px;
          margin-bottom: 30px;
        }
      }
    }
  }
}

.mapa-aprocer {
  background-color: #2B0B05;

  > div {
    display: flex;
    flex-direction: column;
    max-width: px2rem($gridWidth);
    margin: 0 auto;
  }

  h2 {
    color: $orangeColor;
    align-self: flex-end;
  }

  ul {
    color: #FFF;
    font-weight: 700;
    align-self: flex-start;
    text-transform: uppercase;
  }

  @media screen and (min-width: 998px) {
    > div { padding: px2rem(70px) px2rem(40px) px2rem(110px); }

    h2 {
      font-size: px2rem(32px);
      margin-bottom: px2rem(-36px);
    }

    ul {
      font-size: px2rem(17px);
      margin-top: px2rem(-260px);
    }
  }

  @media screen and (max-width: 997px) {
    > div { padding: 40px 20px; }

    h2 {
      font-size: 26px;
      margin-bottom: 20px;
    }

    img { max-width: 100%; }

    ul {
      font-size: 15px;
      margin-top: 20px;
    }
  }
}

.economia-crescente {
  max-width: px2rem($gridWidth);
  margin: 0 auto;

  h2 { font-size: px2rem(38px); }

  > div {

    > div {
      display: flex;
      align-items: center;

    }
  }
  
  @media screen and (min-width: 998px) {
    padding: px2rem(30px) px2rem(40px) px2rem(100px);

    > p { margin: px2rem(40px) 0; }

    > div {
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      gap: px2rem(60px) 10%;

      > div p { margin-left: px2rem(35px); }
    }
  }

  @media screen and (max-width: 997px) {
    padding: 40px 20px;

    p { margin: 30px 0; }
    
    > div > div p { margin-left: 10px; }
  }
}

.economia-crescente,
.associacao-propositos-content {
  strong {
    color: $orangeColor;
    font-weight: 400;
    line-height: 1;
  }

  @media screen and (min-width: 998px) {
    strong { font-size: px2rem(65px); }
  }

  @media screen and (max-width: 997px) {
    strong { font-size: 40px; }
  }
}

.associacao-propositos {
  display: flex;
  flex-direction: column;
}

.associacao-propositos-header {
  background-image: linear-gradient(to right, #feb52f, #f69028);

  > div {
    position: relative;
    max-width: px2rem($gridWidth);
    margin: 0 auto;
    color: #fff;
  }

  @media screen and (min-width: 998px) {
    > div { padding: px2rem(60px) px2rem(40px); }

    h2 { font-size: px2rem(45px); }
  }

  @media screen and (max-width: 997px) {
    > div { padding: 40px 20px; }

    h2 { font-size: 35px; }
  }
}

.plano-desenvolvimento {
  position: absolute;
  border: px2rem(14px) solid #fff;
  border-radius: 30px;
  background-image: linear-gradient(to right, #feb52f, #f69028);
  display: inline-block;
  color: #fff;
  text-align: center;

  h3 {
    font-size: px2rem(32px);
    text-transform: uppercase;
    font-weight: 400;
  }

  p { margin-top: px2rem(30px); }

  @media screen and (min-width: 998px) {
    top: calc(100% - 4.375rem);
    right: px2rem(40px);
    width: px2rem(460px);
    padding: px2rem(70px) px2rem(40px);

    h3 { font-size: px2rem(32px); }
  }

  @media screen and (max-width: 997px) {
    top: calc(100% - 2rem);
    left: 20px;
    right: 0;
    width: calc(100% - 40px);
    padding: 20px;

    h3 { font-size: 26px; }
  }
}

.associacao-propositos-content {
  margin: 0 auto;
  max-width: px2rem($gridWidth);

  > div p { margin-bottom: px2rem(60px); }

  img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }

  @media screen and (min-width: 998px) {
    padding: px2rem(100px) px2rem(40px) px2rem(120px);

    > div { width: calc(100% - 32.5rem);
      p { margin-bottom: px2rem(60px); }
    }
  }

  @media screen and (max-width: 997px) {
    padding: 200px 20px 80px;

    > div p { margin-bottom: 40px; }
  }
}

.contato-content {
  max-width: px2rem($gridWidth);
  margin: 0 auto;

  h1 { margin-bottom: px2rem(40px); }

  @media screen and (min-width: 998px) {
    padding: px2rem(140px) px2rem(40px) px2rem(120px);
  }

  @media screen and (max-width: 997px) {
    padding: 120px 20px 80px;
  }
}

.slick-slider.slick-slider {
  .slick-arrow {
    width: px2rem(94px);
    height: px2rem(94px);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50%;

    &::before {
      content: none;
    }
  }

  .slick-prev {
    background-image: url('../img/prev-arrow.svg');
    left: 0;
  }

  .slick-next {
    background-image: url('../img/next-arrow.svg');
    right: 0;
  }

  .slick-dots {
    bottom: px2rem(10px);

    li {
      width: auto;
      height: auto;
      margin: 0;
      padding: 7px;

      &.slick-active button { border-width: px2rem(8px); }

      button {
        padding: 0;
        width: px2rem(16px);
        height: px2rem(16px);
        border: px2rem(2px) solid $orangeColor;
        border-radius: 50%;
        transition: border 0.3s;

        &::before { content: none; }
      }
    }
  }
}

.form-contato {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: px2rem(20px);

  label { padding-left: px2rem(20px); }

  input,
  textarea {
    width: 100%;
    border: px2rem(2px) solid $brownColor;
    border-radius: 20px;
  }

  .input {
    margin-bottom: 30px;
    width: 100%;

    input {
      
      height: px2rem(40px);
      padding: 0 px2rem(18px);
    }
  }

  .textarea {
    width: 100%;

    textarea {
      height: px2rem(200px);
      padding: px2rem(10px) px2rem(20px);
    }
  }

  .contato-button {
    background-color: $brownColor;
    color: #FFF;
    border-radius: 20px;
    padding: 0 px2rem(18px);
    border: px2rem(2px) solid $brownColor;
    height: px2rem(40px);
    margin: px2rem(20px) auto 0;
  }

  @media screen and (min-width: 998px) {
    .name { width: 78%; }
    .phone { width: 20%; }
  }
}

.stories-content {
  @media screen and (min-width: 998px) { padding: px2rem(140px) 0 px2rem(100px); }

  @media screen and (max-width: 997px) { padding: {left: 0; right: 0; bottom: 80px; }; }
}

.historias-que-encantam, .stories-list, .historias-ilustradas-content {
  max-width: px2rem($gridWidth);
  margin: 0 auto;
}

.historias-que-encantam {
  width: 100%;
  align-items: center;

  h1 { margin-bottom: px2rem(40px); }

  div {
    color: #FFF;
    font-size: px2rem(24px);
    background-image: linear-gradient(to right, #feb52f, #f69028);
    border-radius: px2rem(16px);
  }

  p:not(:last-of-type) { margin-bottom: px2rem(40px); }

  @media screen and (min-width: 998px) {
    padding: 0 px2rem(40px);
    div { padding: px2rem(50px); }
  }

  @media screen and (max-width: 997px) {
    padding: 0 20px;
    div { padding: 30px; }
  }
}

.stories-list {
  @media screen and (min-width: 998px) { padding: px2rem(40px); }
  @media screen and (max-width: 997px) { padding: 20px; }
}

.stories-grid {
  width: 100%;
  display: grid;
  
  > div {
    margin: 0 auto;
    max-width: px2rem(480px);
  }

  p {
    font-size: px2rem(20px);
    text-align: center;
  }

  img { width: 100%; }

  @media screen and (min-width: 998px) {
    margin: px2rem(40px) auto;
    grid-template-columns: repeat(3, 1fr);
    gap: px2rem(40px) px2rem(100px);
  }

  @media screen and (max-width: 997px) {
    margin: 30px auto;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 80px 40px;
  }
}

.historias-ilustradas { overflow-x: hidden; }

.historias-ilustradas-header {
  background-image: linear-gradient(to right, #feb52f, #f69028);

  h2 {
    max-width: px2rem($gridWidth);
    
    margin: 0 auto;
    color: #fff;
  }

  @media screen and (min-width: 998px) {
    h2 {
      font-size: px2rem(45px);
      padding: px2rem(60px) px2rem(40px);
    }
  }

  @media screen and (max-width: 997px) {
    h2 {
      font-size: px2rem(35px);
      padding: 40px 20px;
    }
  }
}

.historias-ilustradas-content {
  padding: px2rem(40px) px2rem(40px) 0;
  @media screen and (min-width: 998px) { padding: px2rem(40px) px2rem(40px) 0; }

  @media screen and (max-width: 997px) { padding: 20px 20px 0; }
}

.historias-ilustradas-top-block {
  padding-bottom: px2rem(40px);

  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  @media screen and (min-width: 998px) {
    display: flex;
    align-items: center;

    img { margin-right: px2rem(50px); }
  }

  @media screen and (max-width: 997px) {
    img { margin-bottom: 30px; }
  }
}

.comic-strips {
  

  .comic-strip {
    text-align: center;
    background-color: $brownColor;
    color: white;
    position: relative;

    &:not(:last-of-type) {
      margin-bottom: px2rem(30px);
      
      &::after {
        content: '';
        display: block;
        height: px2rem(50px);
        width: px2rem(250px);
        position: absolute;
        background-color: $orangeColor;
        z-index: -1;
        left: calc(100% - 5rem);
        bottom: px2rem(-40px);
      }
    }
  }

  @media screen and (min-width: 998px) {
    margin-bottom: px2rem(100px);

    .comic-strip { padding: px2rem(50px); }
  }

  @media screen and (max-width: 997px) {
    margin-bottom: 60px;

    .comic-strip { padding: 20px; }
  }
}

.charge {
  height: 100%;
  max-width: px2rem(800px);
  margin:0 auto;

  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
}

.noticias-content {
  max-width: px2rem($gridWidth);
  margin: 0 auto;

  @media screen and (min-width: 998px) {
    padding-bottom: px2rem(240px);
  }
}

.noticias-yellow-block {
  background: $orangeColor;
  height: px2rem(444px);

  @media screen and (min-width: 998px) {
    margin-bottom: px2rem(100px);
  }

  @media screen and (max-width: 997px) {
    margin-bottom: 60px;
  }
}

.noticias-block {
  max-width: px2rem(1000px);
  margin: 0 auto;

  > div {
    position: relative;
    border: px2rem(3px) solid $orangeColor;
    border-radius: 50px;
    max-width: px2rem(480px);

    > p {
      background-color: #efedef;
      border-radius: 50px;
    }

    .circle-item {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background-color: $orangeColor;
      border-radius: 50%;   
      width: px2rem(160px);
      height: px2rem(160px);
      
      img {
        width: px2rem(110px);
      }

      div {
        position: absolute;
        bottom: px2rem(-56px);

        p {
          color: $brownColor;
          text-align: center;
          font-size: px2rem(16px);
          white-space: nowrap;

          &:not(:last-of-type) { font-weight: 700; }
        }
      }
    }
  }

  @media screen and (min-width: 998px){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: px2rem(48px);

    > div {
      max-width: px2rem(480px);

      > p {
        margin: px2rem(15px) px2rem(5px);
        padding: px2rem(20px) px2rem(40px);
        padding-bottom: px2rem(80px);
      }

      .circle-item { bottom: px2rem(-80px); }
    }
  }

  @media screen and (max-width: 997px){
    display: flex;
    flex-direction: column;
    align-items: center;

    > div {
      margin-bottom: px2rem(160px);

      > p {
        margin: px2rem(15px) px2rem(5px);
        padding: px2rem(30px) px2rem(15px);
        padding-bottom: px2rem(80px);
      }

      .circle-item {
        bottom: px2rem(-80px);
      }
    }
  }
}
